<div ng-init="getTask()">
       
<div class="card " style="width:1200px">
        <div class="card-body">
            <h4 class="card-title">{{task.tname}}</h4>
            <p class="card-text">{{task.description}}</p>
            <p class="card-text"> Location: {{task.loc}}</p>
            <p class="card-text"> Date: {{task.date}}</p>
            <p class="card-text"> Time: {{task.time}}</p>
            <p class="card-text"> No. of Volunteers needed: {{task.nov}}</p>
            <p class="card-text"> NSS hours awarded: {{task.hr}}</p>

          
                <a href="# " class="btn btn-primary  ">Participating?</a>
            
            
    </div>
  </div>
</div>



    